/* background and text styling */
body {
  background: url("/images/plainTofinoSunset.JPG");
  background-repeat: no-repeat;
  background-color:black;
}
.desktop-elements{
  font-family: 'Marvel';
  text-align: center;
  color: antiquewhite;
}
/* Creates a dark background behind all page elements to separate from background image */
#page-elements{
  background: linear-gradient(rgba(16, 17, 20, 0.753),
                              rgba(0, 0, 0, 0.75));
  width: 75%;
  display: block;
  margin: auto;
}

/* h2's are used for the subtitles of pages so there's quite a few */
h2 {
  font-family: 'Marvel';
  font-size: 30px;
  text-align: left;
  padding-left: 5px;
}

h3{
  font-family: 'Marvel';
  font-size: 20px;
  text-align: left;
  padding-left: 5px;
}

/* nav-bar styling */
.nav-bar{
  font-family: 'Marvel'; font-size: 16pt;
  position: center;
}
.transitionNav{
  transition-duration: .25s;
  display: flex;
  opacity: 1;
}
.nav-bar-item{
  float: left;
  text-align: center;
  display: block;
  padding: 14px 16px;
}
.nav-bar-link{
  transition-duration: .5s;
  color: antiquewhite;
  text-decoration: none;
}
.nav-bar-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-bar:hover #nav{
  transition-duration: .75s;
  opacity: 1;
}
.nav-bar-link:hover{
  transition-duration: .5s;
  font-weight: bold;
  font-size: 18pt;
}

/* greeting page specific styling */
#greeting-container{
  background-size: cover;
  font-size: 75pt;
  padding-top: 5px;
  padding-bottom: 100px;
}

/* Any paragraph will probably be a descriptor-para*/
.descriptor-para{
  padding: 10px 10px;
  text-align: left;
  font-size: 24;
  font-family: 'Marvel';
}

/*resume-specific styling*/
.resumeList{
  text-align: left;
  font-size: 18;
}

.resumeParent{
  display:flex;
}

.resumeChild{
  display:inline-block;
}

#cv{
  text-align: left;
  padding-left: 50px;
}

/* bottom bar styling*/
.bottom-bar{
  margin: auto;
  width: fit-content;
}
#bottom-bar-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bottom-bar-item{
  font-family: 'Marvel';
  font-size: 20;
  float: center;
  text-align: center;
  padding: 14px 16px;
}

#contact-me{
  padding-bottom: 10px;
}

#contact-info{
  list-style-type: none;
}
